@use "../variables" as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.faq{
  padding-bottom: 5rem;
  @media (max-width: 1400px) {
    margin-top: 0;
    padding-top: 0;
  }

  &__title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
    line-height: 1.2;
    text-align: center;

    @media (max-width: 360px) {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  }

  &__item{
    margin-bottom: 1.5rem;
    transition: all 0.5s ease;

  

    &--open{
      & .faq__answer{
        display: block;
      }

      & .faq__question::after{
        content: '-';
      }
    }
  }

  &__question{
   position: relative;
   font-weight: 700;
   font-size: 1.2rem;
   width: 100%;
   text-align: left;
   @media (max-width: 360px) {
    font-size: 0.9rem;
    padding-right: 2rem;
    
  }

   &::after{
    content: '+';
    position: absolute;
    right: 0;
    top: -0.5rem;
    font-weight: 600;
    font-size: 1.3rem;
   }
  }

  &__answer{
   padding-top: 0.5rem;
   animation: fadeIn 0.5s ease;
   display: none;

}
}
