@use "../variables" as *;

.header {
  z-index: 100;
  position: sticky;
  top: 0;
  background: transparent;
  transition: background-color 0.3s ease;
  &--scrolled {
    background: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;

    @media (max-width: 480px) {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__list {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__link {
    font-weight: 500;
    color: $color-muted;
    transition: color, 0.5s ease;
    &:hover {
      color: $color-accent;
    }

    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
}
